<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}

			<main class="list">
				<div class="post-list">
					{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
					{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
					{{ range $paginator.Pages }}
					<article class="post-item">
						<time class="post-date">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span>{{ end }}</time>
						<div class="post-info">
							<h2 class="post-title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h2>
							<p class="post-summary">{{ with .Description }}{{ . }}{{ else }}{{ .Summary | plainify | truncate 160 }}{{ end }}</p>
							{{ with .Params.tags }}
							<ul class="post-tags-list">
								{{ range . }}
								<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a></li>
								{{ end }}
							</ul>
							{{ end }}
						</div>
					</article>
					{{ end }}
				</div>
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>

	</body>
</html>
